<!DOCTYPE html>
<html>

<head>
    <title>Certificate - Alumni Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">

    {% include 'links.html' %}
    <style>
        #banner {
            height: 360px;
            width: 100%;
            object-fit: cover;
            margin-bottom: 16px;
        }
    </style>
</head>

<body>
    <!-- header -->
    <nav class="navbar shadow-sm fixed-top bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="/dashboard">
                <img src="/static/logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Alumni Management
            </a>

            <ul class="nav justify-content-end" style="margin-right: 50px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
                </li>
            </ul>
        </div>
    </nav>
    <div style="height:56px"></div>
    <!-- end header -->
    <!-- content -->
    <div class="outer-border" id="certificate">
        <div class="inner-dotted-border">
            <span class="certification">Certificate of Completion</span>
            <br><br>
            <span class="certify"><i>This is to certify that</i></span>
            <br><br>
            <span class="name"><b>{{certificate[8]}}</b></span><br /><br />
            <span class="certify"><i>has successfully completed the certification</i></span> <br /><br />
            <span class="fs-30">{{certificate[1]}}</span> <br /><br />
            <span class="fs-20">with score of <b>A+</b></span> <br /><br />
            <span class="certify"><i>dated</i></span><br>
            <span class="fs-30">1 January,2023</span><br /><br />

            <span>
                <button type="button" class="btn btn-light" disabled>Verification Number: {{certificate[5]}}</button>

            </span>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a href="{{ url_for('download_certificate',document_id=certificate[5])}}" class="btn btn-primary">Download
            PDF</a>

    </div>

    <!-- end content -->
    <!-- footer -->
    <div class="container">
        {% include 'layouts/footer.html' %}
    </div>
    <!-- end footer -->


</body>

</html>