<!DOCTYPE html>
<html>

<head>
  <title>Home | Alumni Management</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css">
  <style>
    #banner {
      height: 360px;
      width: 100%;
      object-fit: cover;
      margin-bottom: 16px;
    }
  </style>
</head>

<body>
  <nav class="navbar shadow-sm fixed-top bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/static/logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Alumni Management
      </a>
      <ul class="nav justify-content-end" style="margin-right: 50px;">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% elif current_user %}
        <li class="nav-item">
          <a class="nav-link" href="/login"><button type="button" class="btn btn-outline-secondary">Login</button></a>

        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li> -->
        {% endif %}


      </ul>
    </div>
  </nav>
  <div style="height:56px"></div>
  <img class="img-fluid" id="banner" src="/static/banner.jpeg">
  <div class="container">
    <h1 class="text-center mt-2 mb-4">

    </h1>
    <div class="row" style="margin-bottom:32px">
      <div class="col-md-6">
        <p class="lead">
        <h3>Welcome to Alumni Management</h3>
        <p>Our Alumni Management platform is designed to connect and empower alumni from various educational
          institutions. Whether you're a graduate, faculty member, or part of the alumni network, this platform serves
          as a central hub for all alumni-related activities and interactions.</p>

        <h3>Verify Certificates and Degrees</h3>
        <p>One of the key features of our platform is the ability to verify certificates and degrees. We understand the
          importance of authenticity, and our verification system ensures that the qualifications and achievements of
          alumni can be easily validated.</p>

      </div>
      <div class="d-none d-md-block col-md-6">
        <img src="/static/people.jpeg" style="height:320px;border-radius:4px;">
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Verify degree / certificate
      </div>
      <div class="card-body">
        <div class="newsletter-subscribe">
          <div class="container">
            <div class="intro">
              <h2 class="text-center">Verify a document</h2>
              <p class="text-center">The Certificate ID can be found at the bottom of each certificate.
              </p>
            </div>
            <form action="/verify/document" class="form-inline" method="post">
              <div class="form-group">
                <input class="form-control" type="number" name="certificateID" placeholder="Enter certificate ID">
              </div>
              <div class="form-group">
                <p class="color:red;">
                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}   
                      <div class="alert alert-danger" role="alert">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                </p>
              </div>
              <br>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">VALIDATE </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    {% include 'layouts/footer.html' %}
  </div>
</body>

</html>